<main class="card">
  <h1 class="card-header">USTC-GitHub Authenticator</h1>
  <div class="card-body">
    <form method="post">
      <div class="form-group">
        <label for="token">Token</label>
        <input type="text" class="form-control" id="token" name="token" placeholder="T8888:Octocat:0123456789abcdef0123456789abcdef">
      </div>
      <button type="submit" class="btn btn-primary">Check</button>
    </form>
    <% unless @token_valid.nil? %>
      <% if @token_valid %>
        <div class="alert alert-success mt-3" role="alert">
          <strong>Valid token</strong> <code><%= h(@token) %></code> from user: USTC <%= h(@token_ustc) %> / GitHub <%= h(@token_github) %>.
        </div>
      <% else %>
        <div class="alert alert-danger mt-3" role="alert">
          <strong>Invalid token</strong> <code><%= h(@token) %></code>: <%= h(@token_reason || 'unknown error').capitalize %>.
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="card-footer btn-space-y">
    <a href="./" class="btn btn-secondary">Back</a>
  </div>
</main>
